.panda-bg-info{
    background-color:rgb(255, 235, 235) ;
}
.catagories img{
    width: 100px;
}
.panda-btn-buy-now{
    background-image: linear-gradient(rgb(255, 100, 100),rgb(243, 138, 138));
    color: white;
    border-radius: 8px;
    padding: 9px 25px;
    border: none;
    font-weight: 600;
    transition: 1s;
}
.panda-btn-buy-now:hover{
    transform: translate(-2px, -3px);
    box-shadow: -3px 3px  10px gray;
}
.panda-col{
    transition: 1s;
}
.panda-col:hover{
    transform:  translate(-2px, -5px);
    
}